.main-banner{
  background-image: url(./../images/photo-of-man-wearing-eyeglasses-3184611.png);
  background-size: cover;
}

.search-filed-box .search-field .form-control {
    border-radius: 40px;
    font-size: 1.4rem;
}
.search-bar-sm .open-dropdown div.tree-multiselect .auxiliary input.search {
    height: 36px;
    box-shadow: none !important;
    font-size: 1.5rem;
    top: -42px;
}

div.tree-multiselect .auxiliary input.search {
    padding: 5px;
    margin: 0;
    border: 0px;
    display: table-cell;
    width: 100%;
    position: absolute;
    top: -41px;
    outline: none;
    left: 0px;
}
.main-banner h2{
  font-size: 2.9rem;
}
.menu-icon {

    color: #101f41 !important;
    line-height: normal;
}
.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
.hamburger-box {
    width: 26px;
    height: 21px;
    position: relative;
    display: inline-block;
}
.hamburger-inner {
    top: 2px;
}
.hamburger-inner,.hamburger-inner:before, .hamburger-inner:after {
  width: 100%;
  height: 2px;
  position: absolute;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
  display: block;
}
.hamburger-inner:before {
    content: "";
    top: 8px;
}
.hamburger-inner:after {
    content: "";
    bottom: -10px;
    top: 16px;
}
.offcanvas-collapse {
    position: fixed;
    top: 88px;
    bottom: 0;
    left: -400px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: #343a40;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: left, visibility;
    transition-property: left, visibility;
    max-width: 350px;
    background-color: #0d2050 !important;
      display: block !important;
}
.offcanvas-collapse {
    z-index: 2;
    padding: 1rem 2.5rem !important;
}
.offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    display: block !important;
    background-color: #0d2050 !important;

}

.offcanvas-collapse ul.navbar-nav {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.offcanvas-collapse ul.navbar-nav > li{
  margin-left: 0px !important
}
.offcanvas-collapse ul.navbar-nav > li > a.nav-link {
    color: white;
    padding: 1rem 0;
}
body.menu-open{
  overflow: hidden;
  padding-right: 17px
}
.header{
  z-index: 1000;
  position: relative;
}
.navbar-nav .dropdown-menu {

}
.offcanvas-collapse .dropdown-menu.show {
    display: block;
    position: static !important;
    float: none;
    opacity: 1;
    width: 100%;
    margin: 0px;
    max-width: 100%;
    margin-left: 0px !important;
}
.menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    background-color: #0d1f507a;
    display: none;
    z-index: 10
}
.hamburger.is-active .hamburger-inner {
    transform: translate3d(0,10px,0) rotate(45deg);
}
.hamburger.is-active .hamburger-inner:before {
    transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
    opacity: 0;
}
.hamburger.is-active .hamburger-inner:after {
    transform: translate3d(0,-16px,0) rotate(-90deg);
}
.offcanvas-collapse .navbar-nav>.nav--has-sub-menu>a::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 85%;
    padding-left: .5rem;
    position: absolute !important;
    right: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.offcanvas-collapse .navbar-nav>.nav--has-sub-menu>.nav-sub-menu::before {
    display: none;
}
