@media (max-width:1280px){
  .notes-open .sidebar{
    margin-left: -270px
  }
  .notes-open .back-to-result, .notes-open .judgement-topbar .btn-toolbar-top{
    display: none
  }
}

@media (max-width:992px)  {
  .judgment-section .sidebar ul li a.idraf-link span{
    display: none;
  }
  .judgment-section .sidebar {
      min-width: 180px;
  }
  .notes-open .sidebar{
    margin-left: -180px
  }
  aside.filter-sidebar {
    position: absolute;
    width: 330px;
    z-index: 1;
    margin-top: 44px;
    height:calc(100% - 44px);
    left: -330px;
    transition: all ease-in-out 150ms;
}
aside.filter-sidebar.show{
  left: 0px
}
.navbar-sm .nav-link {
    padding-top: .9rem;
    padding-bottom: .9rem;
    font-size: 1rem;
}
.navbar-nav .dropdown-menu {
    margin-left: 0px !important;
    width: 100% !important;
    transform: none;
    border: 0px !important;
    background-color: #f3f3f3;
}
.navbar-nav .dropdown-menu .nav-link{
  font-size: .88rem;
}
.tab-topnav .btn{
  padding-left: 1rem;
  padding-right: 1rem
}
}
@media (max-width:768px){
  .notes-controls .notes{
    display: none;
  }
  .judgment-section .sidebar{
    margin-left: -180px;
  }
  .back-to-result{
    display: none;
  }
  .judgment-detail-header h1 {
      font-size: 2.8rem;
  }
  .notes-controls {
      display: none;
  }
.notes-section {
    right: -400px;
}
.judgment-wrapper {
    width: 100%;
}
.team-pane .thumbnail {
    width: calc(50% - 30px);
}
.tab-topnav .btn{
  font-size: .9rem;
  padding-left: .9rem;
  padding-right: .9rem
}
}

@media (max-width:480px){
  .judgment-detail-header h1 {
    font-size: 2rem;
}
  .navbar .search-filed-box{
    display: none;
  }
  .judgement-topbar small {
    display: block;
  }
  .judgement-topbar .dot-separator{
    display: none;
  }
  .judgment-detail-header h1 {
    font-size: 2rem;
}
.dropdown-menu.popup-tag {
  display: none !important;
}
.filter-text{
  display: none;
}
.posts__categories-list>li.post-category {
    margin-right: .3rem;
}
.team-pane .thumbnail {
    width: calc(100% - 30px);
}
}
