.search-field:not(.open-dropdown) .search-input {
    box-shadow: 0px 0px 0px 2px #f5f6fb inset;
}
.section-hero .search-engine-form{
  max-width: 1080px
}
.search-engine-form input.form-control:focus{
  box-shadow: none !important
}
.open-dropdown .court-search-input {
    width: 100%;
    opacity: 1
}
.search-btn a {
    line-height: inherit
}
.search-field {
    flex: 1;
    position: relative;
    align-items: center;
    display: flex;
}
.cort-btn .btn {
    border-radius: 20px;
    margin-left: 11px;
    position: relative
}
.court-search-input {
    position: absolute;
    right: -40px;
    top: 0;
    width: 0;
    opacity: 0;
    transition: all ease-in-out 300ms;
    box-shadow: 0px 0px 0px 2px #4d5bed inset !important;
}
.court-dropdown-box {
    background-color: white;
    position: absolute;
    left: 60px;
    right: 15px;
    opacity: 0;
    transition: all ease-in-out 100ms;
    display: none;
    top: 100%;
}
.open-dropdown .court-dropdown-box {
    opacity: 1;
    box-shadow: 0px 4px 3px #e2e3ef;
    display: block;
}

.search-btn {
    position: absolute;
    right: 23px;
    font-size: 20px;
    transition: all ease-in-out 300ms;
    margin-left: -37px;
    padding: 0px 4px;
    background-color: white;
    border-radius: 15px;
}

.open-dropdown .search-btn {
    right: calc(100% - 40px);
    background-color: white;
    padding: 0 5px;
    position: absolute;
}
.search-filed-box {
    display: flex;
    background-color: rgb(77, 91, 237);
    border-radius: 4rem;
    position: relative;
    z-index: 1;
}
.search-filed-box .search-field .form-control
{
    border-radius: 40px;
    font-size: 1.1rem;
}
.search-filed-box:not(.search-bar-sm) .search-field .form-control {

    font-size: 1.6rem;
    height: 56px !important;
}
.search-field ::placeholder{
  color: #8d8d8f !important
}
.open-dropdown div.tree-multiselect .auxiliary input.search {
    height: 44px;
    box-shadow: none !important;
    font-size: 1.6rem;
}
.search-field input.form-control:focus {
    box-shadow: 0px 0px 0px 2px #4d5bed inset !important;
}
.search-helper{
  top: 100%;
  left: 15px;
  display: none;
}
.search-helper .exampleblock ul {
    font-size: .84rem;
}
.search-helper .exampleblock ul li div.key{
  min-width: 120px
}
.search-field .setting-btn {
    position: absolute;
    right: 0;
    font-size: 20px;
    opacity: 0;
    transition: all ease-in-out 800ms;
}
.search-field .search-input:focus ~ .setting-btn, .search-field:hover .setting-btn{
    opacity: .6;
    right: 55px;
}
.search-field .setting-btn:hover {
  opacity: 1 !important
}
.query_builder label{
  min-width: 150px;
  font-size: .9rem
}
.query_builder .form-control{
  font-size: .9rem;
}
.query_builder {
    top: calc(100% - 2px);
    left: 20px;
    display: none;
}

@media (min-width: 768px ){
  .query_builder {
    width: 650px;
}
}
.search-bar-sm
{
  max-width: 800px;
}
.search-bar-sm .open-dropdown div.tree-multiselect .auxiliary input.search {
    height: 35px;
    box-shadow: none !important;
    font-size: 1.1rem;
    top: -39px;
}
@media (max-width: 768px ){
  .cort-btn {
    display: none;
}
}
