.open-dropdown .court-search-input {
    width: 100%;
    opacity: 1
}
.search-btn a {
    line-height: inherit
}
.search-field {
    flex: 1;
    position: relative;
    align-items: center;
    display: flex;
}
.cort-btn .btn {
    border-radius: 20px;
    margin-left: 11px;
    position: relative
}
.court-search-input {
    position: absolute;
    right: -40px;
    top: 0;
    width: 0;
    opacity: 0;
    transition: all ease-in-out 300ms;
    border: 3px solid #ed7e1f
}
.court-dropdown-box {
    min-height: 0;
    background-color: white;
    position: absolute;
    left: 60px;
    right: 15px;
    opacity: 0;
    transition: all ease-in-out 100ms;
    display: none;
    top: 40px;
}
.open-dropdown .court-dropdown-box {
    min-height: 40px;
    opacity: 1;
    box-shadow: 0px 4px 3px #e2e3ef;
    display: block;
}

.search-btn {
    position: absolute;
    right: 23px;
    font-size: 20px;
    transition: all ease-in-out 300ms;
    margin-left: -37px;
    padding: 0px 4px;
    background-color: white;
    border-radius: 15px;
}

.open-dropdown .search-btn {
    right: calc(100% - 40px);
    background-color: white;
    padding: 0 5px;
    position: absolute;
}
.search-filed-box {
    display: flex;
    background-color: rgb(77, 91, 237);
    border-radius: 28px;
    position: relative;
    z-index: 1;
}
.search-field .form-control {
    border-radius: 40px;
    border-width: 2px;
    border-color: #4d5bed;
}
.open-dropdown div.tree-multiselect .auxiliary input.search {
    height: 40px;
    box-shadow: none !important;
}
.search-field input.form-control:focus {
    box-shadow: 0px 0px 0px 2px #4d5bed inset !important;
}
.search-helper{
  top: 100%;
  left: 15px;
  display: none;
}
.search-helper .exampleblock ul {
    font-size: .84rem;
}
.search-helper .exampleblock ul li div.key{
  min-width: 120px
}
