.navbar-nav .nav-item{
  position: relative;
}

.custom-radio label, .custom-checkbox label {
    line-height: 25px;
    position: relative;
    margin-bottom: 0px;
    padding-left: 40px;
    cursor: pointer;
}
.custom-radio label input[type="radio"] + span::before,
.custom-checkbox label input[type="checkbox"] + span::before
 {
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 6px;
    background-color: #EFF0F4;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}
.custom-checkbox.white label input[type="checkbox"] + span::before,
.custom-radio.white label input[type="radio"] + span::before
{
  background-color: white;
}
.custom-radio label input[type="radio"]:checked + span::after {
    content: "";
    height: 14.44px;
    width: 14.44px;
    border-radius: 50%;
    background-color: #4d5bed;
    display: block;
    position: absolute;
    left: 5.1px;
    top: 5.1px;
}
.custom-checkbox label input[type="checkbox"]:checked + span::after {
  content: "";
  height: 25px;
  width: 25px;
  background-image: url(./../images/check-blue.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.bg-light2{
  background-color: #4d5bed0d !important;
}
.f-12{
    font-size: 12px !important
}
ul.green-checks-list li {
    margin-bottom: .75rem;
}
ul.green-checks-list .h4, ul.green-checks-list h4 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    padding-left: 1rem;
    line-height: 1.75rem;
}
.material-icons svg, .material-icons-fake svg {
    width: 1.5em;
    height: 1.5em;
}
.material-icons svg, .material-icons-fake svg path{
  fill:#2fb173
}

.complete-coverage-list  li{
  margin-bottom: .5rem;
  color: #4d5bed
}
.section-hero p.lead{
  max-width: 800px
}
.main-banner{
  background-image: url(./../images/banner1.png);
  background-size: cover;

}
.bordered-input{
  border-color: #4d5bed !important;
}
.sidebar.filter-sidebar{
  top: 0%
}
.navbar-dark .navbar-nav .nav-sub-menu .nav-link {
        color: #4f5464;
}
.navbar-sm .nav-link {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}
.navbar-sm .navbar-nav > .nav-item {
    margin-left: 1.5rem;
}
.filter-sidebar .widget {
    min-height: 100vh;
    border-right: 1px solid #4d5bed29;
}
.container-sm{
  max-width: 800px;
  margin: 0 auto;
}
.filter-item {
    font-size: .85rem;
    background-color: #4d5bed24;
    border-radius: 2px;
    padding: 4px 8px;
    color: #4d5bed;
    line-height: 17px;
}
.filter-item:hover span {
    text-decoration: line-through;
    color: #929292;
}
.filter-item .remove-selected {
    font-size: 19px;
    margin-left: 7px;
    border-left: 1px solid #4d5bed59;
    padding-left: 4px;
}
.arrow-triangle {
    width: 0;
    height: 0;
    border-left: 4pt solid transparent;
    border-right: 4pt solid transparent;
    border-top: 8pt solid #4d5bed;
}
.collapsed .arrow-triangle {
    transform: rotate(-90deg);
}
.filter-sidebar label{
      font-weight: 600;
}
.sort-by {
    box-sizing: content-box;
    background: #e7e8ea;
    font-size: 11pt;
    line-height: 11pt;
    padding: 2px;
    color: #4d5bed;
    border: none !important;
    height: 19px;
    margin: 0px 0px 0px 2px;
    max-width: 170px;
    border-radius: 3px;
    outline: none;
}
.filter-list::after {
    content: "";
    height: .5rem;
    display: block;
}
.filter-list li{
  margin-left: 10.66px;
}
.search-top-bar{
  border-bottom: 1px solid #4d5bed29;
}
.search-top-bar .search-bar .form-control{
  width: 180px
}
.detailed-text{
  font-size: 0.9375rem
}
.posts__categories-list>li.post-category>a:hover{
  box-shadow: inset 0px -2px 0 0 #ed7e1f;
}
.main-detail-content p {
    font-size: 1.1rem;
    font-weight: 300 !important;
    line-height: 1.9rem;
}

.btn-xs {
    padding: .2rem .8rem;
    font-size: .9rem;
}
.dot-separator {
    display: inline-block;
    height: 6px;
    width: 6px;
    vertical-align: middle;
    border-radius: 50%;
}
.sticky-toolbar .btn {
    font-size: 1.3rem;
    color: #101f41;
    margin-bottom: 5px;
    line-height: initial;
}
.sticky-toolbar .btn:hover {
    color: #4d5bed;
}
.sticky-toolbar {
    position: sticky;
    top: 30px;
}
.list-slider{
  position: sticky;
  top: 0px;
  z-index: 1;

}
.judgment-info{
  font-size: .88rem;
}
.judgment-info label{

}
.font-semibold{
  font-weight: 500 !important
}
.judgment-detail-header h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #3a48e2 !important;
}
.text-secondary{
  color: #ed7e1f !important;
}
.main-detail-content a {
    border-bottom: 2px solid #4d5bed;
    color: #4f5464;
    font-weight: 300;
}
.main-detail-content a:hover {
    background-color: #4d5bed;
    color: white;
}
.about-section{
  background-image: url(./../images/shutterstock_259210829.png);
  background-size: cover;
}
.team-pane .thumbnail {
    text-align: center;
    text-decoration: none;
    color: #1e2023;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: block;
    width: calc(25% - 30px);
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 6px;
    overflow: hidden;
}
.team-pane .team-block{
  max-width: 900px;
  margin: 0 auto;
}
.caption p {
    font-size: 90%;
    opacity: .7;
}
.tab-topnav{
  top: 0px;
  z-index: 1
}
.member-container::after{
  content: ""
}
.tab-item .btn-link:not(.active){
  opacity: .6
}
.tab-item .btn-link:not(.active):hover{
  opacity: 1
}
.member-container img{
  filter: grayscale(100%);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.thumb-inner:hover .member-container img{
  filter: grayscale(0%);
}
.linkedin-btn {
    font-size: .9rem;
    opacity: .9;
}
