.navbar-nav .nav-item{
  position: relative;
}

.custom-radio label, .custom-checkbox label {
    line-height: 25px;
    position: relative;
    margin-bottom: 0px;
    padding-left: 40px;
    cursor: pointer;
}
.custom-radio label input[type="radio"] + span::before,
.custom-checkbox label input[type="checkbox"] + span::before
 {
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 6px;
    background-color: #EFF0F4;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}
.custom-checkbox.white label input[type="checkbox"] + span::before,
.custom-radio.white label input[type="radio"] + span::before
{
  background-color: white;
}
.custom-radio label input[type="radio"]:checked + span::after {
    content: "";
    height: 14.44px;
    width: 14.44px;
    border-radius: 50%;
    background-color: #4d5bed;
    display: block;
    position: absolute;
    left: 5.1px;
    top: 5.1px;
}
.custom-checkbox label input[type="checkbox"]:checked + span::after {
  content: "";
  height: 25px;
  width: 25px;
  background-image: url(./../images/check-blue.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.bg-light2{
  background-color: #4d5bed0d !important;
}
.f-12{
    font-size: 12px !important
}
ul.green-checks-list li {
    margin-bottom: .75rem;
}
ul.green-checks-list .h4, ul.green-checks-list h4 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    padding-left: 1rem;
    line-height: 1.75rem;
}
.material-icons svg, .material-icons-fake svg {
    width: 1.5em;
    height: 1.5em;
}
.material-icons svg, .material-icons-fake svg path{
  fill:#2fb173
}

.complete-coverage-list  li{
  margin-bottom: .5rem;
  color: #4d5bed
}
.section-hero p.lead{
  max-width: 800px
}
.main-banner{
  background-image: url(./../images/banner1.png);
  background-size: cover;

}
.bordered-input{
  border-color: #4d5bed !important;
}
.sidebar.filter-sidebar{
  top: 0%
}
.navbar-dark .navbar-nav .nav-sub-menu .nav-link {
        color: #4f5464;
}
.navbar-sm .nav-link {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}
.navbar-sm .navbar-nav > .nav-item {
    margin-left: 1.5rem;
}
.filter-sidebar .widget {
    min-height: 100vh;
    border-right: 1px solid #4d5bed29;
}
.container-sm{
  max-width: 800px;
  margin: 0 auto;
}
.filter-item {
    font-size: .85rem;
    background-color: #4d5bed24;
    border-radius: 2px;
    padding: 4px 8px;
    color: #4d5bed;
    line-height: 17px;
}
.filter-item .remove-selected {
    font-size: 19px;
    margin-left: 7px;
    border-left: 1px solid #4d5bed59;
    padding-left: 4px;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 4pt solid transparent;
    border-right: 4pt solid transparent;
    border-top: 8pt solid #4d5bed;
}
.collapsed .arrow {
    transform: rotate(-90deg);
}


.filter-sidebar label{
      font-weight: 600;
}
.sort-by {
    box-sizing: content-box;
    background: #e7e8ea;
    font-size: 11pt;
    line-height: 11pt;
    padding: 2px;
    color: #4d5bed;
    border: none !important;
    height: 19px;
    margin: 0px 0px 0px 2px;
    max-width: 170px;
    border-radius: 3px;
    outline: none;
}
.filter-list::after {
    content: "";
    height: .5rem;
    display: block;
}
.filter-list li{
  margin-left: 10.66px;
}
.search-top-bar{
  border-bottom: 1px solid #4d5bed29;
}
